<!-- main body for signup page -->
<div id="header">
	<script type="text/javascript">
		console.log('here')
			$(document).ready( function() {
			    $('.subMenu').smint();
			});
	</script>

	<h1 id="header-text">SpectaFresh</h1>
	<h3 class="subtext">Welcome!</h3>
	<p><br/></p>

	<!--<div class="logo-section">
		<button id="signup_button">Sign up today!</button>
	</div> -->



	<div class="form-box">

			<%= form_for(:live_dashboardnew_form, :html=>{:multipart => true, :id=>'reg_form'}, :url=>{:action=>"redirect_signup"}) do |form| %>

			<!-- SUBMIT BUTTON -->
			<p>
						<%= form.submit "Sign up today!", :class =>'button'%>
			</p>
			<% end %>
	</div>

	<!-- Link without using a form button -->
				<a class = "link-button"href="/live/login"> 
						Already a user? Login here.
				</a>
	


	<h3 class="subtext"> This Week's Performances (insert table) </h3>
	<p><br/></p>
	



</div>
