//CSS FOR THE ADMIN 
#num-users{
  font-size: 4vw;
  font-weight: bold;
}

//CSS FOR THE INDEX PAGE
#confirm-message{
  font-size: 1.5vw;
  font-weight: bold;
  text-shadow: 1px 1px black;
  margin-top: 7vw;
}
.description{
  display:block;
  overflow:auto;
}
.section-title{
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
 
}

.section-title-vision{
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  margin-top: -0.4vw;
}

#desc-video{
  width: 50%;
  overflow: hidden;
  padding-top: 3vw;
}
#video1{
  width:74%;
  position: relative;
  left: 13%;
}
#video{

}
#desc-text{
  width: 50%;
  float: left;
  padding-right: 1vw;
  padding-top: 3vw;
  font-size: 1.25vw;
  color: blue;
}

label{
  font-size: 1.5vw;
  font-weight: bold;
  text-shadow: 1px 1px black;
}
input[type="radio"]{
  margin-left: 1vw;
  margin-right: 0.1vw;
  margin-top: -1px;
  vertical-align: middle;
}
#middle{
  background-image: url(audience.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  height: 50vw;
  float: left;
}
#container3{
  height: 100%;
}
.subtext{
  font-weight:bold;
  text-shadow: 1px 1px black;
  font-size: 1.5vw;
}
#header-text{
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px black;
  font-size: 5vw;
  margin-top: 15vw;
}

#header {
  width: 100%;
  padding: 0 0;
}


.bottom{
  height: 2vw;
}

.row{
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 90%;
  left: 5%;
}
h3{
  font-size: 1.3vw;
}

h5{
  font-size: 1.1vw;
}
.description{
  width: 100%;
    background-color: #585754;
    padding: 2% 5% 2% 5%;
}
.vision{
  width: 100%;
    background-color: #8a887d;
    padding: 2% 5% 2% 5%;
    font-size: 1.25vw;
}
.countdown-section{
  width: 94%;
  position: relative;
  left: 3%;
  padding: 2% 5% 2% 5%;
  background-color: black;
}
#footer{
  width: 94%;
  position: relative;
  left: 3%
}
//JQUERY MENU STYLES

.subMenu {
  height: 3vw;
  z-index: 1000;
  width: 100%;
  background: black;//#1919D1;
}

.subMenu .inner {
  padding:0;
  font-weight: 400;
  margin: 0 auto;
}

a{
  color: white !important;
  text-decoration: none !important;
}
.subNavBtn {
  display: block;
  height: 3vw;
  width: 19%;
  float: left;
  margin: 0px 0px 0 0;
  text-decoration: none;
  font-size: 1vw;
  font-weight: bold;
  padding: 0.6% 2% 0.6% 2%;
  text-align: center;
  
  color: #fff;
}
.subMenu a:hover {
  background: #252e34;
}

.active {
  background: #252e34;
}
.end {
  margin: 0;
}

//CIRCULAR COUNTDOWN CSS FROM DEMO
.clock-item{
  width: 15vw !important;
  height: 15vw !important;
}
.countdown-container {
  position: relative;
  top: 50%;
}
.container{
  margin-left: -2vw;
  margin-right: 0;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 4vw;
  width: 107%;
}

.clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative; 
  width: 100%;
}

.clock-canvas {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%;
}

.text {
  color: #fff;  
  font-size: 30px;
  font-weight: bold;  

  position: absolute;
  top: 25%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  width: 100%;
}

.text .val {
  font-size: 2vw;
}

.text .type-time {
  font-size: 1vw;
}

.clock-item {
  margin: 0px 1vw 1vw 1vw;
}


//scale text to be in percentages
h1{
  font-size: 2vw;
}
body{
  font-size: 1vw;
}
//subtext and subsubtext
.subtext{
  margin: 0 0 0.42vw 0;
}

.subsubtext{
  margin: 0 0 1.75vw 0;
}



//PLACEHOLDER TEXT
::-webkit-input-placeholder {
   font-size: 1vw;
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 1vw;
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 1vw;
   color: white;
}

:-ms-input-placeholder {  
   font-size: 1vw;
   color: white;
}


/* Dark Button CSS */
.button {
  position: relative;
  left: 46%;
    outline: 0;
    font-size: 1vw;
    padding: 5px 12px;
    display: block;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #232B30; /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}
.button:hover {
    color: #fff;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}

/* Search CSS: */
.search-input {
  margin-top: 3vw;
    padding: 0.42vw 0.42vw 0.42vw 0.42vw;
    border: 0.08vw solid black;//#1c252b;
    width: 21.5%;
    color: #9fa8b0;
    text-align: center;
    font-size: 1vw;
    line-height: 2.5vw;
    font-weight: bold;
    text-shadow: 0.083vw 0.083vw #1f272b;
    border-radius: 1.5vw;
    -moz-border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    background-color: black;//#20282D; /* old browsers */
    //background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 );
    //-moz-box-shadow: 0.083vw 0.083vw 0.083vw rgba(255,255,255,0.1); /* Firefox */
    //-webkit-box-shadow: 0.083vw 0.083vw 0.083vw rgba(255,255,255,0.1); /* Safari, Chrome */
    //box-shadow: 0.083vw 0.083vw 0.083vw rgba(255,255,255,0.1); /* CSS3 */
    //background-image: url(mag-glass.png);
    //background-repeat: no-repeat;
    //background-position: left center;
}
.search-input:focus {outline: none;}



.splash-photo{
  width: 25% !important;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 10vw;
}

body{
  //background-image: image-url("blue-backgrounds.png");
  //background-size: 100% 100%;
  //background-repeat: no-repeat;
  // background-image: url('grey-pattern.jpg');//url("chrome://global/skin/media/imagedoc-darknoise.png");
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width:100%;
}



@import url(http://fonts.googleapis.com/css?family=Open+Sans);


/* STRUCTURE */

#pagewrap {
  padding: 0.42vw;
  width: 100%;
  margin: 1.67vw auto;
}


#content {
  width: 34%;
  float: left;
}

#sidebar {
  width: 34%;
  float: left;
}
#footer {
  clear: both;
}
