
//scale text to be in percentages
h1{
  font-size: 2vw;
}
body{
  font-size: 1vw;
}
//subtext and subsubtext
.subtext{
  margin: 0 0 0.42vw 0;
}

.subsubtext{
  margin: 0 0 1.75vw 0;
}



//PLACEHOLDER TEXT
::-webkit-input-placeholder {
   font-size: 1.5vw;
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 1.5vw;
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 1.5vw;
   color: white;
}

:-ms-input-placeholder {  
   font-size: 1.5vw;
   color: white;
}


/* Dark Button CSS */
.button {
  position: relative;
  left: 40%;
    outline: 0;
    font-size: 1vw;
    padding: 5px 12px;
    display: block;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #232B30; /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}
.button:hover {
    color: #fff;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}

/* Search CSS: */
.search-input {
    padding: 0.42vw 0.42vw 0.42vw 0.42vw;
    border: 0.08vw solid #1c252b;
    width: 100%;
    color: #9fa8b0;
    text-align: center;
    font-size: 1vw;
    line-height: 2.5vw;
    font-weight: bold;
    text-shadow: 0.083vw 0.083vw #1f272b;
    border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 );
    -moz-box-shadow: 0.083vw 0.083vw 0.083vw rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 0.083vw 0.083vw 0.083vw rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 0.083vw 0.083vw 0.083vw rgba(255,255,255,0.1); /* CSS3 */
    //background-image: url(mag-glass.png);
    //background-repeat: no-repeat;
    //background-position: left center;
}
.search-input:focus {outline: none;}




#footer{
  //text-align: center;
  width: 81.3%;
}

#middle{
  text-align: center;
}
.splash-photo{
  width: 60%;
  height: auto;
  margin: auto;
  display: block;
}

body{
  //background-image: image-url("blue-backgrounds.png");
  //background-size: 100% 100%;
  //background-repeat: no-repeat;
  // background-image: url('grey-pattern.jpg');//url("chrome://global/skin/media/imagedoc-darknoise.png");
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width:100%;
}

#header-text{
  text-align: center;
}
//---------------------------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


/* STRUCTURE */

#pagewrap {
  padding: 0.42vw;
  width: 100%;
  margin: 1.67vw auto;
}
#header {
  height: 8.33vw;
  width: 97%;
  padding: 0 1.25vw;
}

#container{
  width: 100%;
}
#content {
  width: 34%;
  float: left;
}

#middle {
  width: 31%; /* Account for margins + border values */
  float: left;
  //padding: 5px 15px;
}

#sidebar {
  width: 34%;
  float: left;
}
#footer {
  clear: both;
  padding: 0 9%;
}

